@import 'variables';
html {

}
body {
 font-family: $font-family;
 background-color: #f6f6f6;
 }

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

a {
  text-decoration: none;
  color: $color-text-common;
}
